<h1>Welcome to your Inventory Tracker</h1>
<p >
    The current date and time is <span id='date-time'></span></p>
<script>
    var dt = new Date();
    document.getElementById('date-time').innerHTML = dt;
</script>

<form method="post">
    <p>
        To add a new inventory item: enter the item name, location (athens/chicago/rome/seoul/toronto), stock count, weather, and date. 
    </p>
    <p>
        <input id="title" name="title" type="text" value="" placeholder="Enter item name" />
        <input id="loc" name="loc" type="text" value="" placeholder="Enter item location" />
        <input id="count" name="count" type="number" value="" placeholder="Enter stock count" />
        <input id="date" name="date" type="date" value="" placeholder="Enter date" />

        <button name="save" value="Save" type="submit">Create Item</button>
    </p>
</form>

<form method="post">
    <p>
        To edit an inventory item: enter in all of the following, including both new changes and existing information. 
    </p>
    <p>
        <input id="title" name="title" type="text" value="" placeholder="Enter item name" />
        <input id="loc" name="loc" type="text" value="" placeholder="Enter item location" />
        <input id="count" name="count" type="number" value="" placeholder="Enter stock count" />
        <input id="date" name="date" type="date" value="" placeholder="Enter date" />

        <button name="update" value="update" type="submit">Save Changes</button>
    </p>
</form>

<br><br>
<form method="post">
    <p1>Inventory List:</p1> 
    <ul >
        {{#each notif}}
            <li>Name: {{this.title}} 
            <li>Location: {{this.loc}} </li> 
            <li>Stock: {{this.count}} </li> 
            <li>Weather: {{this.weather}}<span>&#176;</span>C 
            <li>Date: {{this.date}} <br><button name="del" value="{{this.title}}" type="submit">Remove Item</button></li>
            <br>
        {{/each}}
    </ul>
        <button name="refresh" value="refresh" type="submit">Update Inventory List</button> &nbsp;
        <button name="csv" value ="csv" type="submit">Export to CSV</button> <br><br> <br> 
</form>

<form method="post" action="logout">
    <input type="submit" value="Log Out">
</form>
